@model JuCheap.Core.Models.UserAddDto

@{
    ViewBag.Title = "工位列表";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

@section scripts{ 
    <script>
        function openTab() {
            parent.JuCheapTabs.addMenuTab("id", "工位A001", "/workposition/detail/1");
        }
    </script>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A001</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A001</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A004</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A004</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A007</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A007</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">离线</span>
                    <h5>A002</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A002</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A005</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A005</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A008</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A008</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">无服务</span>
                    <h5>A003</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A003</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A006</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A006</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A009</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A009</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A001</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A001</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A001</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A001</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">在线</span>
                    <h5>A001</h5>
                </div>
                <div class="ibox-content">
                    <h4>工位号：<a onclick="openTab()">A001</a></h4>
                    <p>
                        登入状态：离线
                    </p>
                    <p>
                        登入人员信息：李丽
                    </p>
                </div>
                <div class="ibox-title">
                    <h5>工位当前信息</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                <ul class="pagination">
                    <li tabindex="0" class="paginate_button previous disabled" id="editable_previous" aria-controls="editable"><a href="#">上一页</a></li>
                    <li tabindex="0" class="paginate_button active" aria-controls="editable"><a href="#">1</a></li>
                    <li tabindex="0" class="paginate_button " aria-controls="editable"><a href="#">2</a></li>
                    <li tabindex="0" class="paginate_button " aria-controls="editable"><a href="#">3</a></li>
                    <li tabindex="0" class="paginate_button " aria-controls="editable"><a href="#">4</a></li>
                    <li tabindex="0" class="paginate_button " aria-controls="editable"><a href="#">5</a></li>
                    <li tabindex="0" class="paginate_button " aria-controls="editable"><a href="#">6</a></li>
                    <li tabindex="0" class="paginate_button next" id="editable_next" aria-controls="editable"><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

