@{
    Layout = null;
}
<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuCheap 后台主题UI框架 - 内容页</title>
    <environment names="Development">
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/content.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("styles", false)
</head>

<body class="gray-bg">
    @RenderBody()
    <environment names="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/content.min.js" asp-append-version="true"></script>
    </environment>
    
    @RenderSection("scripts", false)
</body>
</html>

