@{
    Layout = null;
}
<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuCheap 后台主题UI框架 - 内容页</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
    @Html.Partial("BaiduTongji")
</head>

<body class="gray-bg">
    @RenderBody()
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>

