@using Microsoft.AspNetCore.Hosting
@model ErrorViewModel
@inject IHostingEnvironment host

@{
    var error = Model?.Error?.Error;
    var errorDescription = host.IsDevelopment() ? Model?.Error?.ErrorDescription : null;
    var request_id = Model?.Error?.RequestId;
}

<div class="wrapper wrapper-content">
    <div class="row mt70">
        程序错误，运维小哥正在抢修！
        @if (error != null)
            {
            <strong>
                <em>
                    : @error
                </em>
            </strong>

            if (errorDescription != null)
            {
                <div>@errorDescription</div>
            }
        }
        @if (request_id != null)
            {
            <div class="request-id">Request Id: @request_id</div>
        }
    </div>
</div>

