@model JuCheap.Core.Models.AppDto

@{
    ViewBag.Title = "如何接入JuCheap SSO单点登录系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles
{
    <link href="~/admin-tools/admin-forms/css/admin-forms.css" rel="stylesheet" />
    <style>
        body {
            height: auto;
        }
    </style>
}

<div class="row mt70">
    <div class="col-sm-12">
        <div class="admin-form theme-primary">
            <div class="panel heading-border panel-primary">
                <div class="panel-body bg-light">
                    <div id="spy1" class="section-divider mb40">
                        <span>如何接入JuCheap SSO单点登录系统</span>
                        <p><b>接入网站Demo：</b>https://git.oschina.net/jucheap/JuCheap.SSO.Demo.git</p>
                    </div>
                    <div class="row">
                        <div>
                            <code>新注册的用户，最多可以添加5个网站，试用期为7天</code>
                        </div>
                        <div class="highlight">
                            <pre>
                            <b class="sys-title">一:如何接入</b>
                            <b>支持的Net版本，最低为：Net 4.5</b>
                            <b>进入JuCheap SSO <a href="/account/reg" target="_blank">注册页面</a>，注册帐号；</b>
                            <b>注册成功后，会自动跳转到登录页面，用刚刚注册的账号和密码登录；登录成功后，点击网页右上角的头像，进入“我的网站”添加网站；</b>
                            <b>配置Start.cs类</b>
                            <b>
                                app.UseCookieAuthentication(new CookieAuthenticationOptions
                                {
                                    AuthenticationScheme = "Cookies",
                                    AutomaticAuthenticate = true,
                                    ExpireTimeSpan = TimeSpan.FromMinutes(60),
                                    CookieName = "JuCheap.Core.SSO"
                                });

                                JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();
                                app.UseOpenIdConnectAuthentication(new OpenIdConnectOptions
                                {
                                    AuthenticationScheme = "oidc",
                                    SignInScheme = "Cookies",
                                    Authority = "http://localhost:18496",
                                    RequireHttpsMetadata = false,

                                    ClientId = "JuCheap-SSO-Demo",
                                    ClientSecret = "JuCheapSecret",

                                    ResponseType = "code id_token",
                                    Scope = { "openid", "profile", "email", "offline_access" },
                                    GetClaimsFromUserInfoEndpoint = true,

                                    SaveTokens = true,

                                    TokenValidationParameters = new TokenValidationParameters
                                    {
                                        NameClaimType = JwtClaimTypes.Name,
                                        RoleClaimType = JwtClaimTypes.Role,
                                    }
                                });
                            </b>
                            <b class="sys-title">二、添加相关nuget包:</b>
                                Microsoft.AspNetCore.Authentication.Cookies
                                Microsoft.AspNetCore.Authentication.OpenIdConnect
                                IdentityModel
                                
                                
                            <b class="sys-title">三、获取用户信息:</b>
                                (1):获取登录账号名称:var userName = User.Identity.Name
                                (2):获取其他用户信息:
                                var user = User as ClaimsPrincipal;
                                //获取Claim信息
                                var userid = user.FindFirst("sub").Value; //sub是服务端提供的Claim信息,获取之前需要跟服务端确认提供了哪些用户信息
                            <b class="sys-title">四、登出:</b>
                                public ActionResult Logout()
                                {
                                    await HttpContext.Authentication.SignOutAsync("Cookies");
                                    await HttpContext.Authentication.SignOutAsync("oidc");
                                    return Redirect("/");
                                }
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

