@model List<JuCheap.Core.Models.AppDto>
@{
    ViewBag.Title = "SSO系统资源列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt70">
    <div class="col-sm-12">
        <div class="panel mb10">
            <div class="panel-heading sys-title" style="height: 50px; line-height: 50px;">
                <span class="panel-icon">
                    <i class="fa fa-life-ring"></i>
                </span>
                <span class="panel-title text-danger"><b>以下是您能访问的系统：</b></span>
            </div>

            <div class="list-group fs14 fw600">
                @if (Model.Any())
                {
                    foreach (var app in Model)
                    {
                        <a href="@app.ClientUri" class="list-group-item sys-title">
                            <i class="fa fa-desktop text-primary"></i>&nbsp; @app.ClientName<br />
                        </a>
                    }
                }
                else
                {
                    <a href="/Account/Login" class="list-group-item sys-title">
                        <i class="fa fa-gear text-primary"></i>&nbsp; 您未被授权访问任何系统，点击登录
                    </a>
                }
            </div>
        </div>
    </div>
</div>

