@{
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>JuCheap 3.0 使命</h5>
                </div>
                <div class="ibox-content">
                    <h1>JuCheap V3.0 正式发布 [2016-06-16]</h1>

                    <h2 style="color: lightseagreen;">JuCheap 3.0 目的</h2>
                    <p style="color: red;">1.JuCheap 3.0 并非2.0的升级版本，所以购买了2.0和1.0的会员，<span style="color: red;">不能享受到3.0的服务</span>；<span style="color: green">但是可以享受到2.0和1.0的免费升级服务</span>；</p>
                    <p style="color: red;">2.JuCheap 3.0 是为了跨平台，为了我们的用.Net开发的网站可以直接部署在Linux、Mac等其它系统下；</p>
                    <p style="color: red">3.So，我们会将网站框架由以前的Net4.5 ，逐渐迁移到Net Core和EF Core</p>

                    <h2 style="color:lightseagreen;">
                        JuCheap V3.0 变化
                    </h2>
                    <p style="color: green;">1.JuCheap3.0改变了UI框架；以及表格控件由Datatable改回了jqgrid；</p>
                    <p style="color: green;">2.认证方式由Form认证，改成了Asp.net Identity认证；</p>
                    <p style="color: green;">3.DI容器，由AutoFac改成了SimpleInjector；</p>
                    <p style="color: green;">4.权限验证方式修改，新增Filter对每个请求都做了权限验证；</p>
                    <p style="color: green;">5.EF和MVC同时都采用了异步编程方式；</p>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>JuCheap 3.0 介绍</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        <b>
                            JuCheap是一个完全响应式，使用 MVC + EF + Bootstrap3.3.4 版本开发的后台管理系统模板，采用了左右两栏式等多种布局形式，使用了Html5+CSS3等现代技术，提供了诸多的强大的可以重新组合的UI组件，丰富的jQuery插件，可以用于所有的Web应用程序，如网站管理后台，会员中心，CMS，CRM，OA后台系统的模板，JuCheap使用到的技术完全开源，支持自定义扩展，你可以根据自己的需求定制一套属于你的后台管理模板。
                        </b>
                    </p>

                    <h3>JuCheap 3.0 特点</h3>
                    <p>响应式布局（支持电脑、平板等主流智能设备，手机除外）;扁平化设计</p>
                    <p>基于Jquery和Bootstrap</p>
                    <p>丰富的UI组件</p>
                    <p>采用HTML5 &amp; CSS3</p>
                    <p>自定义扩展</p>
                    <p>静态资源文件合并压缩</p>

                    <h3>JuCheap 3.0 使用到的技术包括:</h3>
                    <p>C#，MVC5，EF，Asp.Net Identity，异步编程</p>
                    <p>Jquery,jqGrid</p>
                    <p>Bootstrap</p>
                    <p>DDD</p>
                    <p>AutoMapper</p>
                    <p>SimpleInjector</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>购买说明</h5>
                </div>
                <div class="ibox-content">
                    <p>购买后可以获得的权益</p>
                    <ol>
                        <li>所有源码(未压缩、带注释版本)；</li>
                        <li>说明文档；</li>
                        <li>终身免费升级服务；</li>
                        <li>必要的技术支持；</li>
                        <li>付费二次开发服务；</li>
                    </ol>
                    <div class="alert alert-warning">
                        付款完成后请及时联系作者，或在付款备注中留下邮箱或QQ，方便作者及时联系您。
                    </div>
                    <p id="pay-qrcode">
                        <a href="javascript:;">
                            <img src="~/img/pay.jpg" width="100%" alt="请使用手机支付宝或者微信扫码支付">
                        </a>
                    </p>

                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>二次开发</h5>
                </div>
                <div class="ibox-content">
                    <p>我们提供基于JuCheap的二次开发服务，具体费用请联系作者。</p>
                    <p>同时，我们也提供以下服务：</p>
                    <ol>
                        <li>网站建设和主题定制</li>
                        <li>M站开发</li>
                        <li>电商网站定制开发</li>
                        <li>单点登录系统开发</li>
                    </ol>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        <i class="fa fa-send-o"></i> 博客：<a href="http://blog.csdn.net/allenwdj" target="_blank">http://blog.csdn.net/allenwdj</a>
                    </p>
                    <p>
                        <i class="fa fa-qq"></i> QQ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=359484089&amp;site=qq&amp;menu=yes" target="_blank">359484089</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

