@{
    ViewBag.Title = "任务模板操作";
    Layout = null;
}
@using JuCheap.Core.Infrastructure.Extentions
@model IList<JuCheap.Core.Models.TaskTemplateStepDto>

<ul class="sortable-list connectList agile-list ui-sortable">
@if (Model.AnyOne())
{
    foreach(var step in Model)
    {
        <li class="success-element" style="">
            <i class="fa fa-clock-o"></i> @step.StepName
            <div class="agile-detail">
                @foreach(var op in step.Operates)
                {
                    <a href="#" class="btn btn-xs btn-white">@op.Name</a>
                } 
            </div>
        </li>
    }
}
</ul>


