@{
    ViewBag.Title = "任务模板操作";
    Layout = null;
}
@using JuCheap.Core.Infrastructure.Extentions
@model IList<JuCheap.Core.Models.TaskTemplateStepDto>

@if (Model.AnyOne())
{
    foreach(var step in Model)
    {
        var index = Guid.NewGuid().ToString("N");

        <div id="step-@index" class="form-group">
            <table class="table">
                <tr>
                    <td colspan="6">
                        <span class="btn btn-outline btn-primary">@step.StepName</span>
                    </td>
                </tr>
                <tr>
                @foreach(var op in step.Operates)
                {
                    <td>
                        <span class="btn btn-outline btn-default">@op.Name</span>                           
                    </td>
                    <td>@op.OperateDirection.GetDescriptionForEnum()</td>
                }
                </tr>
                
            </table>
        </div>
    }
}


