@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top:10px;">
    @if (User.Identity.IsAuthenticated)
    {
        <p>您已登录成功 @User.Identity.Name</p>
        <ul>
            @foreach (var claim in User.Claims)
            {
                <li>@claim.Type : @claim.Value</li>
            }
        </ul>
    }
    else
    {
        <p>您还未登录</p>
    }
</div>


